<div class="container">
    <div class="row sticky-top topRow">
        <div class="col">
            <h1 class="headerText text-center">
                farmShare
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="subHeader text-center">
                What's currently available:
            </h5>
        </div>
    </div>
    {{#each posts}}
    <div class="row justify-content-center">
        <div class="card" style="max-width: 12rem;">
            <div class="card-body">
                <h5 class="card-title text-center">{{this.quantity}} {{this.title}}</h5>
                <p>{{this.city}}, {{this.state}}</p>
                <p class="card-text text-center">{{this.date}}, {{this.startTime}}—{{this.endTime}}</p>
                <p>Instructions: {{this.instructions}}</p>
                <div class="row">
                    <div class="col">
                        <a href="mailto:{{this.user.email}}" class="btn btn-link">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    <footer>
        <div class="row footer">
            <div class="col-12">
                <p class="pFooter text-center sticky-bottom">Copyright 2019</a></p>
            </div>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="/js/welcomePage.js" async defer></script>